{% extends "layout.html" %}

{% block main %}
    <h1 style="margin-top: 10%; text-align: center;">Please Sign In</h1>
    <br>
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
          <a class="btn btn-outline-dark" href="/login" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
            Login with Google
          </a>
        </div>
    </div>
{% endblock %}